@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1>About Us</h1>

    <div class="jumbotron">
        <!-- Group Contract -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Group 9</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Communication Plan</h5>
                <p class="card-text">We will communicate through a text group chat.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Code of Conduct</h5>
                <p class="card-text">All group members must contribute to each of the projects and communicate if they are unable to complete a component in a timely manner.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Level of Expectation</h5>
                <p class="card-text">Each group member is expected to put in their best effort and provide visible contributions to the project.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Group's Values</h5>
                <p class="card-text">Respect</br> Communication</br> Responsibility</p>
            </div>
        </div>
    </div>

    <!-- List of Participants -->
    <h2>Participants</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/BryanZhou.jpg" class= "card-img-top" alt="Photo of Bryan Zhou">
                <div class="card-body">
                    <h5 class="card-title">Bryan Zhou</h5>
                    <p class="card-text">Skills: I am a quick learner, problem solver. Getting comfortable with HTML and JS</p>
                    <p class="card-text">Challenges: I sometimes find it difficult to style with CSS and Bootstrap</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/images/JuanOliver.jpg" class="card-img-top" alt="Photo of Juan Oliver">
                <div class="card-body">
                    <h5 class="card-title">Juan Oliver</h5>
                    <p class="card-text">Skills: I am decent with making visually pleasing and stylish pages to get the point across without creating too much clutter.</p>
                    <p class="card-text">Challenges: I struggle with connecting form validation and regex for user input. </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/images/AshtonKozel.jpg" class="card-img-top" alt="Photo of Ashton Kozel">
                <div class="card-body">
                    <h5 class="card-title">Ashton Kozel</h5>
                    <p class="card-text">Skills: I am good with coordinating plans with teammates and html.</p>
                    <p class="card-text">Challenges: Javascript</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <img src="~/images/AndyPatel.jpg" class="card-img-top" alt="Photo of Andy Patel">
                <div class="card-body">
                    <h5 class="card-title">Andy Patel</h5>
                    <p class="card-text">Skills: Excels at structuring and organizing data in an understandable and clean way.</p>
                    <p class="card-text">Challenges: I'm challenged by the technical nuances required in making the multiple html files work together.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/images/MatthewOdenthal.jpg" class="card-img-top" alt="Photo of Matthew Odenthal">
                <div class="card-body">
                    <h5 class="card-title">Matthew Odenthal</h5>
                    <p class="card-text">Skills: Work well with groups, have experience in html </p>
                    <p class="card-text">Challenges: Struggle using javascript, know very little about it</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/images/KekoaMerez.jpg" class="card-img-top" alt="Photo of Kekoa Merez">
                <div class="card-body">
                    <h5 class="card-title">Kekoa Merez</h5>
                    <p class="card-text">Skills: Javascript</p>
                    <p class="card-text">Challenges: The visual layout and bootstrap challenge mes</p>
                </div>
            </div>
        </div>
    </div>
</div>
