
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h1 class="display-4">Your Team</h1>
	<p>
		This is your Home Page
	</p>
	<div class="row">
		<div class="col-4">
			Boot Strap column 1
		</div>
		<div class="col-4">
			Boot Strap column 2
		</div>
		<div class="col-4">
			Boot Strap column 3
		</div>
	</div>
</div>
