@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. @Model.IisError</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>

        
    </p>
}
@if (Model.ShowHrResult)
{
    <p>
        <strong>HR Result:</strong> <code>@Model.HrResult</code><br />
    </p>
}
<p>
    site ADMIN has been notifed.
</p>
